In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import missingo as msno
import datetime as date
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import LocalOutlierFactor
from sklearn.preprocessing import MinMaxScaler , LabelEncoder , StandardScaler , RobustScaler

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
cols = ['Name', 'Ticket', 'Cabin']
df = df.drop(cols, axis=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [7]:
df = df.dropna()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [17]:
dummies = []
cols = ['Pclass', 'Sex', 'Embarked']
for col in cols:
    dummies.append(pd.get_dummies(df[col]))
    titanic_dummies = pd.concat(dummies, axis=1)

titanic_dummies

         1      2      3  female   male      C      Q      S
0    False  False   True   False   True  False  False   True
1     True  False  False    True  False   True  False  False
2    False  False   True    True  False  False  False   True
3     True  False  False    True  False  False  False   True
4    False  False   True   False   True  False  False   True
..     ...    ...    ...     ...    ...    ...    ...    ...
885  False  False   True    True  False  False   True  False
886  False   True  False   False   True  False  False   True
887   True  False  False    True  False  False  False   True
889   True  False  False   False   True   True  False  False
890  False  False   True   False   True  False   True  False

[712 rows x 8 columns]

In [18]:
df = pd.concat((df,titanic_dummies), axis=1)

In [19]:
df = df.drop(['Pclass', 'Sex', 'Embarked'], axis=1)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Age          712 non-null    float64
 3   SibSp        712 non-null    int64
 4   Parch        712 non-null    int64
 5   Fare         712 non-null    float64
 6   1            712 non-null    bool
 7   2            712 non-null    bool
 8   3            712 non-null    bool
 9   female       712 non-null    bool
 10  male         712 non-null    bool
 11  C            712 non-null    bool
 12  Q            712 non-null    bool
 13  S            712 non-null    bool
dtypes: bool(8), float64(2), int64(4)
memory usage: 44.5 KB

In [21]:
df['Age'] = df['Age'].interpolate()

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Age          712 non-null    float64
 3   SibSp        712 non-null    int64
 4   Parch        712 non-null    int64
 5   Fare         712 non-null    float64
 6   1            712 non-null    bool
 7   2            712 non-null    bool
 8   3            712 non-null    bool
 9   female       712 non-null    bool
 10  male         712 non-null    bool
 11  C            712 non-null    bool
 12  Q            712 non-null    bool
 13  S            712 non-null    bool
dtypes: bool(8), float64(2), int64(4)
memory usage: 44.5 KB

In [23]:
X = df.values
y = df['Survived'].values

In [24]:
X = np.delete(X, 1, axis=1)

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)